<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>

    <http realm="MyRealm" pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain"
          create-session="stateless">
        <http-basic entry-point-ref="restAuthenticationEntryPoint"/>
        <intercept-url pattern="/rest/**/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/rest/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
        <custom-filter before="BASIC_AUTH_FILTER" ref="myFilter"/>

    </http>

    <beans:bean id="mySuccessHandler"
                class="refrigerators.config.MySavedRequestAwareAuthenticationSuccessHandler"/>
    <beans:bean id="myFailureHandler" class="refrigerators.config.Failure"/>
    <beans:bean id="myFilter" class="refrigerators.config.CorsFilter"/>
    <beans:bean id="restAuthenticationEntryPoint" class="refrigerators.config.RestAuthenticationEntryPoint"/>

    <http>
        <intercept-url pattern="/refrigerators/**/" access="isAnonymous()"/>
        <intercept-url pattern="**/front/**/" access="isAnonymous()"/>
        <!--<intercept-url pattern="/refrigerators/**/rest/**/admin/**" access="hasRole('ROLE_ADMIN')"/>-->
        <!--<intercept-url pattern="/refrigerators/**/rest**" access="isAuthenticated()"/>-->
        <form-login
                authentication-success-handler-ref="mySuccessHandler"
                authentication-failure-handler-ref="myFailureHandler"
        />

        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
        </authentication-provider>
    </authentication-manager>

</beans:beans>